@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-theme-1-1 text-theme-1-2 hover:bg-theme-1-1 hover:text-black
            rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .navbar-text {
		@apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white
            bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
	}

	.navbar-hr {
		@apply border border-white dark:border-gray-600 rounded-full mx-2;
	}

  .landing-button {
		@apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 left-2 shadow-lg
            bg-black dark:bg-gray-400 text-white dark:text-black hover:bg-gray-400 dark:hover:bg-black hover:text-black dark:hover:text-white
            rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
	}

  .landing-icon {
		@apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-black dark:bg-gray-400 text-white dark:text-black hover:bg-gray-400 dark:hover:bg-black hover:text-black dark:hover:text-white
            rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
	}

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
